*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: url(./Assets/images/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    color: #fff;
}
body{
    font-size: 18px;
}
p{
    font-family: 'Barlow', sans-serif;
    line-height: 1.7;
    font-size: 1.3rem;
}
h1{
  font-size: 2rem;  
  margin: 0 0 10px 0;
  font-family: 'Fraunces', serif;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
}
nav>h1{
  font-size: 1.3rem;  
}
#nav-items{
    display: none;
}
header section{
    text-align: center; 
    padding: 40px 0;
}
.header-title{
    font-family: 'Fraunces', serif;
}
header section>h1{
    letter-spacing: 1.5px;
    }
#arrow-down{
    margin: 30px 0;
}
 
#sunny-offers img{
    width: 100%;
    height: auto;
}
.sunny-offers-text{
    padding:50px 40px;
    text-align: center;
    
    
}
.sunny-offers-text p{
     color: rgb(167, 171, 174);
   
}
#sunny-bottom{
    display: grid;
    grid-template-columns: 1fr;
    
}

section{
    margin-bottom: -4px;
}

#testimonial-container{
    text-align: center;
    padding: 100px 0 0 0;
}
#testimonial img{
    border-radius: 100%;
}

#testimonial-container h1{
    letter-spacing: 5px;
    font-size: 1.3rem;
    color:hsl(232, 10%, 55%);
}
#testimonial section{
    margin: 100px 0 ;
    padding: 0 30px;
}
#testimonial h1{
    font-size: 2rem;
    color: #000;
}
#testimonial h1,#testimonial p{
    margin: 30px 0;
}
#testimonial p{
    color: hsl(210, 4%, 67%) ;

}
#other-images{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
}
#other-images img{
    width: 100%;
    height: auto ;
}
.graphics-design{
    color:  hsl(167, 40%, 24%); 
    text-align: center; 
    padding: 0 40px;
  
}



.text-up {
    width: 100%;
    height: auto;
}

.photography,.graphics-design{
    position: absolute;
    top: 70%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center;
    width: 100%; 
    max-width: 800px; 
    color: hsl(198, 62%, 26%);
    text-align: center; 
    padding: 0 20px;
    overflow: auto; /* Enable scrolling for overflowing content */
    max-height: 100vh; 
}

section {
    position: relative;
    overflow:hidden;
    
}


figure{
    margin-bottom: -10px;
}
footer{
     background-color: hsl(168, 34%, 41%);
     
}
#footer-container{
    height: 40vh;
   display: grid;
   text-align: center;
   padding: 40px 0;
align-content: space-evenly;


}
#footer-items ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;

   
}
#socials{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
}
.sunny-offers-text h2{
    margin-top: 20px;
}

.reverse-item-learn-more,.normal-position-item-learn-more{
    border: none;
    width: 140px;
    margin: 0 auto;
    padding: 5px 0;
    border-radius: 10px;
    margin-top: -9px;
}
.reverse-item-learn-more{
  background-color:hsl(51, 100%, 80%) ;
}
.normal-position-item-learn-more{
     background-color:hsl(7, 99%, 80%) ;

}
.mobile-menu{
    background-color: #fff;
    color: #000;
    position: absolute;  
    top: 15%;
    left: 5%;
    z-index: 1;
    width: 90%;
    text-align: center;
    display: block;
    transition: left 0.5s ease-in-out; 
   
   
   
}
.mobile-menu ul{
    list-style: none;
}
.mobile-menu li{
    list-style: none;
    margin: 40px 0;
    font-size: 1.5rem;
    color:hsl(232, 10%, 55%);
}
.mobile-menu  button{
    padding: 20px 60px;
    font-size: 1.3rem;
    border-radius: 10px;
    border: none;
    background-color: hsl(51, 100%, 49%);
}
.active {
    display: none;  
}
@media only screen and (min-width:920px){

header{
    background-image: url(./Assets/images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    
}
p{

    font-size: 1.3rem;
    
}
nav>h1{
  font-size: 2rem;  
}
nav li{
    font-size: 1.4rem;
}

.sunny-offers-text  p, #testimonial p{
    color: rgb(167, 171, 174);
}
#testimonial p{
   color: hsl(232, 10%, 55%)
}
h1{
  font-size:2.5rem;  

}
header section{
    text-align: center; 
    padding-bottom: 300px;
}
.flex-item{
    flex: 1;
}
nav>#mobile-nav{
    display: none;
}
#nav-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
    #nav-items button{
    background-color: #fff;
    border: none;
    padding: 15px 50px;
    border-radius: 10px;
}
header section>h1{
margin-bottom: 0;
letter-spacing: 3px;
}
#arrow-down{
margin-top:  100px;
}
#sunny-offers{
    margin: 4px 0 0 0;
}
.sunny-offers-text{
    margin: auto;
    text-align: justify;
    text-align-last:auto;
    padding: 0;
}

.sunny-offers-text section{
 width: 70%;
 padding-left: 20px;
}
.sunny-offers-item{
    display: flex;
    align-items: baseline;
}
.reverse { 
    flex-direction: row-reverse;
}
#sunny-bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
#testimonial{
    display: flex;
    justify-content: space-evenly;
   
    
}
#testimonial section{

    width:400px;
    padding: 0 20px;
}

#other-images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


#footer-container{
width: 50%;
margin: 0 auto;
padding: 0;
}
#socials{
    display: flex;
    align-items: center;
    width: 40%;
}
.reverse-item-learn-more,.normal-position-item-learn-more{
   
    width: 140px;
    margin: -10px 0 0 0;
   
}
.photography,.graphics-design{
    padding: 0 40px;
}
}

@media only screen and (width:360px){
   .photography, .graphics-design {
    top: 60%;
}
}
@media only screen and (width:375px){
   .photography, .graphics-design {
    top: 60%;
}
}

@media only screen and (width:1024px){
    #footer-container{
        height: 60vh;
}
}

  @media only screen and (width:280px){
    .photography, .graphics-design {
        top: 50%;
    }
    p{
        font-size: 1rem;
    }
    h1{
       font-size:  1.4rem;
    }
  }
  @media only screen and (width:768px){
    .mobile-menu{
        top: 12%;
    }
  }
  @media only screen and (width:912px){
    .mobile-menu{
        top: 10%;
    }
  }
